@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "管理员管理";
}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/admin/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>管理员管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-7">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">名称：</span>
                <input type="text" class="am-form-field" placeholder="按管理员名称搜索" style="width:100px;" name="name" ;>

                <span class="am-input-group-label am-margin-left-sm">手机号码：</span>
                <input type="text" class="am-form-field" placeholder="按手机号码搜索" style="width:100px;" name="mobile" ;>
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>
    <div class="am-g am-margin-top-sm">
        <div class="am-u-lg-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button onclick="add()" type="button" class="am-btn am-btn-default  add"><span class="am-icon-plus"></span> 新增</button>
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default  delete"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="RealName">名称</th>
                <th dataname="Account">账号</th>
                <th dataname="TypeStr">管理员类型</th>
                <th dataname="Mobile">手机号</th>
                <th render="ShowSex">性别</th>
                <th dataname="RoleName">角色</th>
                <th dataname="DepartmentName">部门</th>
                <th dataname="CreatedTime" datatype="jsondate">创建日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        //批量删除
        function batchDelete() {
            $.Nuoya.confirm("确认删除？", function () {
                grid.del({
                    ajaxUrl: "/admin/Admin/Delete",
                    callback: function (json) {
                        grid.reload();
                    }
                });
            });
        }

        function formInit(dataitem) {
            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    RealName: {
                        required: true,
                        maxlength: 100
                    },
                    Account: {
                        required: true,
                        maxlength: 12
                    },
                    Password: {
                        required: true,
                        maxlength: 12
                    },
                    Sex: {
                        required: true,
                    },
                    Mobile: {
                        required: true,
                        maxlength: 11
                    },
                    RoleID: {
                        required: true,
                    },
                    DepartmentID: {
                        required: true,
                    },
                },
                messages: {
                    RealName: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    Account: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    Password: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    Sex: {
                        required: "不允许为空",
                    },
                    Mobile: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    RoleID: {
                        required: "不允许为空",
                    },
                    DepartmentID: {
                        required: "不允许为空",
                    },
                }
            });

            $.Nuoya.action("/Admin/Role/GetSelectItem", {}, function (json) {
                $(json).each(function () {
                    $("#form select[name='RoleID']").append("<option " + (dataitem != null && dataitem.RoleID == this.Value ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
                });
            });


            $.Nuoya.action("/Admin/Department/GetSelectItem", { }, function (json) {
                $(json).each(function () {
                    $("#form  select[name='DepartmentID']").append("<option " + (dataitem != null && dataitem.DepartmentID == this.Value ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
                });
            });

        }

        //新增
        function add() {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                ajaxUrl: "/Areas/Admin/HtmlTemplates/Admin/Update.html",
                title: "添加管理员",
                width: ($(window).width() - 700) + "px",
                height: ($(window).height() - 400) + "px",
                callback: function (e) {
                    formInit();//表单初始化
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {
                        $.Nuoya.form("form").ajaxSubmit({
                            ajaxUrl: "/Admin/Admin/Add",
                            callback: function (data) {
                                if (!data.ErrorDesc) {
                                    e.hide();
                                    grid.reload();
                                }
                                else
                                    $.Nuoya.alert(data.ErrorDesc);
                            }
                        });
                    }
                }]
            })
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Admin/Admin/GetPageList",
            //数据请求地址
            events: [

                {
                    className: "am-text-secondary update",
                    icon: "icon-pencil-square-o",
                    name: "编辑",
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            ajaxUrl: "/Areas/Admin/HtmlTemplates/Admin/Update.html",
                            width: ($(window).width() - 700) + "px",
                            height: ($(window).height() - 500) + "px",
                            title: "编辑管理员",
                            callback: function (e) {
                                $("#form .password").remove();
                                $.Nuoya.action("/Admin/Admin/Find", { id: item.ID }, function (model) {
                                    formInit(model);//表单初始化
                                    //载入数据
                                    $.Nuoya.form("form").dataLoad({
                                        data: model
                                    });
                                    $("[name='Account']").prop("readonly", true);
                                });
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {

                                    $.Nuoya.form("form").ajaxSubmit({
                                        ajaxUrl: "/Admin/Admin/Update",
                                        params: {
                                            ID: item.ID
                                        },
                                        callback: function (data) {
                                            if (!data.ErrorDesc) {
                                                e.hide();
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.ErrorDesc);
                                        }
                                    });
                                }
                            }]
                        })
                    }
                }
                ,
            {
                className: "am-text-danger changePassword",
                icon: "icon-hand-rock-o",
                name: "重置密码",
                click: function (item) {
                    changePassword(item.ID);
                }
            }
                ,
                {
                    className: "am-text-danger delete",
                    icon: "icon-trash-o",
                    name: "删除",
                    click: function (item) {
                        $.Nuoya.confirm("确认删除？", function () {
                            $.Nuoya.deleteAction("/Admin/Admin/Delete", {
                                ids: item.ID
                            },
                            function () {
                                grid.reload();
                            });
                        });
                    }
                }
            ]
        });

    </script>

}