@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "课程信息";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>课程信息</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">   
        <div class="am-u-lg-12 am-u-end">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">名称：</span>
                <input type="text" class="am-form-field" placeholder="按课程名称搜索" style="width:100px;" name="name" ;>
                <span class="am-input-group-label am-margin-left-sm">门店名称：</span>
                <input type="text" class="am-form-field" placeholder="按门店名称搜索" style="width:100px;" name="storeName" ;>
                <span class="am-input-group-label am-margin-left-sm">课程名称：</span>
                <input type="text" class="am-form-field" placeholder="按课程名称搜索" style="width:100px;" name="CourseName" ;>
                <span class="am-input-group-label  am-margin-left-sm">课程日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="createdTimeStart" readonly style="width:120px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="createdTimeEnd" readonly style="width:120px;">
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>
    <div class="am-g am-margin-top-sm">
        <div class="am-u-lg-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button onclick="add()" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="Name">课程名称</th>
                <th dataname="StoreName">门店</th>                
                <th dataname="CoachName">教练员</th>
                <th dataname="CourseCategoryNameS">分类</th>
                <th dataname="PeopleLimit">人数限制</th>
                <th dataname="JoinCount">已报名</th>
                <th dataname="StartTime" datatype="jsondate">开始时间</th>
                <th dataname="EndTime" datatype="jsondate">结束时间</th>
                <th dataname="CreatedTime" datatype="jsondate">创建日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
<script src="~/Areas/Admin/Scripts/UEditor/ueditor.config.js"></script>
<script src="~/Areas/Admin/Scripts/UEditor/ueditor.all.js"></script>
<script src="~/Areas/Admin/Scripts/UEditor/ueditor.parse.js"></script>
<script src="~/Areas/Admin/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript"> 

        $('[name=createdTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=createdTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });
        function ClearFilter() {
            $("#searchDomain input").val("");
        }

        function ShowTime(item)
        {
            return item.StartTime - item.EndTime;
        }


        //批量删除
        function batchDelete() {
            $.Nuoya.confirm("确认删除？", function () {
                grid.del({
                    ajaxUrl: "/Admin/Course/Delete",
                    callback: function (json) {
                        grid.reload();
                    }
                });
            });
        }

        var trainResultUE;
        var fitPeopleUE;
        var fAQUE;
        function formInit(dataitem) {
            //训练结果
            var txtTrainResultId = $.AMUI.utils.generateGUID("txtTrainResult");
            $(".txtTrainResult").attr("id", txtTrainResultId)
            trainResultUE = UE.getEditor(txtTrainResultId);

            //适合人群
            var txtFitPeopleId = $.AMUI.utils.generateGUID("txtFitPeopleId");
            $(".txtFitPeople").attr("id", txtFitPeopleId)
            fitPeopleUE = UE.getEditor(txtFitPeopleId);

            //问题和回答
            var txtFAQId = $.AMUI.utils.generateGUID("txtFAQ");
            $(".txtFAQ").attr("id", txtFAQId)
            fAQUE = UE.getEditor(txtFAQId);

            if (dataitem != null) {
                //拼接的门店图片集合
                if (dataitem.Pictures != null) {
                    $.each(dataitem.Pictures.split(','), function (index, item) {
                        $("#divImageShow").append('<img class="am-img-circle am-img-thumbnail am-margin-left" style="max-width:300px;max-height:200px;" src="' + item + '" alt="">');
                    });
                }
                if (dataitem.TrainResult != null) {
                    trainResultUE.addListener("ready", function () {
                        trainResultUE.setContent(dataitem.TrainResult);
                    });
                }
                if (dataitem.FitPeople != null) {
                    fitPeopleUE.addListener("ready", function () {
                        fitPeopleUE.setContent(dataitem.FitPeople);
                    });
                }

                if (dataitem.FAQ != null) {
                    fAQUE.addListener("ready", function () {
                        fAQUE.setContent(dataitem.FAQ);
                    });
                }
                if (dataitem.PriceList != null) {
                    $.each(dataitem.PriceList, function (index, item) {
                        $("#form .coursePrice").append(
                            '<div class="am-u-md-12 priceItem">'+
                                '<div class="am-g am-margin-top ">' +
                                        '<input type="hidden" name="ID" value="'+item.ID+'">'+
                                    '<div class="am-u-md-2 am-text-center">' + (index+1) + '</div>' +
                                   ' <div class="am-u-md-3 am-text-center">'+
                                        '<input type="text" name="ThingName" value="' + item.ThingName + '" class="am-input-sm" maxlength="32">' +
                                    '</div>'+
                                    '<div class="am-u-md-3 am-text-center">'+
                                        '<input type="number" name="Price" value="' + item.Price + '" class="am-input-sm" min="0.01">' +
                                    '</div>'+
                                    '<div class="am-u-md-2 am-text-center">'+
                                        '<input type="number" name="DiscountPrice" value="' + item.DiscountPrice + '" class="am-input-sm" min="0.01">' +
                                    '</div>'+
                                    '<div class="am-u-md-2 am-text-center am-u-end">'+
                                        '<button class="am-btn am-btn-danger am-btn-xs" onclick="javascript: if ($(\'.priceItem\').length==1) { return false; } $(this).parents(\'.priceItem\').remove()">删除</button>'+
                                    '</div>'+
                                '</div>'+
                            '</div>');
                   });
                }
            }

            $.Nuoya.action("/Admin/Store/GetSelectItem", {  }, function (json) {
                $(json).each(function () {
                    $("#form select[name='StoreID']").append("<option " + (dataitem != null && dataitem.StoreID == this.Value ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
                });
            }); 

            $.Nuoya.action("/Admin/Coach/GetSelectItem", {}, function (json) {
                $(json).each(function () {
                    $("#form select[name='CoachID']").append("<option " + (dataitem != null && dataitem.CoachID == this.Value ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
                });
            });
            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    Name: {
                        required: true,
                        maxlength: 64
                    },
                    StoreID: {
                        required: true,
                    },
                    CourseCategoryIDS: {
                        required: true,
                        maxlength: 256
                    },
                    CoachID: {
                        required: true
                    },
                    StartTime: {
                        required: true
                    },
                    EndTime: {
                        required: true
                    },
                    TrainResult: {
                        maxlength: 10240
                    },
                    FitPeople: {
                        maxlength: 10240
                    },
                    FAQ: {
                        maxlength: 10240
                    },
                    Pictures: {
                        required: true,
                        maxlength: 1024
                    },
                    PeopleLimit: {
                        digits: true,
                        min: 0,
                        max:1000
                    },
                    
                },
                messages: {
                    Name: {
                        required: "名称不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    StoreID: {
                        required: "门店不允许为空",
                    },
                    CourseCategoryIDS: {
                        required: "课程分类不能为空",
                        maxlength: "最多{0}个字符"
                    },
                    CoachID: {
                        required: "请选择课程"
                    },
                    StartTime: {
                        required: "开始时间不允许为空",
                    },
                    EndTime: {
                        required: "结束时间不允许为空",
                    },
                    TrainResult: {
                        maxlength: "最多{0}个字符"
                    },
                    FitPeople: {
                        maxlength: "最多{0}个字符"
                    },
                    FAQ: {
                        maxlength: "最多{0}个字符"
                    },
                    Pictures: {
                        required: "图片不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    PeopleLimit: {
                        digits: "请输入数字",
                        max: "必须小于{0}",
                        min: "必须大于{0}"
                    }
                }
            });

            UploadImg();
            $("[name='CourseCategorySelectIDS']").ztreeSelect($("[name='CourseCategoryIDS']"), "/Admin/CourseCategory/GetZTreeChildren", 0, true, false);
            $(document).on("dblclick", "#form img", function () {
                $(this).remove();
            });
        }

        function UploadImg() {
            var headimgbtn = $("#imageFile").uploadFile({
                url: '/admin/upload/uploadimage?mark=course',
                fileSuffixs: ["jpg", "png", "gif"],
                maximumFilesUpload: 1,//最大文件上传数
                onComplete: function (data) {
                    if (data) {
                        $("#divImageShow").append('<img class="am-img-circle am-img-thumbnail am-margin-left" style="max-width:300px;max-height:200px;" src="' + data + '" alt="">');
                    }
                    else {
                        $.Nuoya.alert("上传错误");
                    }

                },
                onChosen: function (file, obj, fileSize, errorText) {
                    if (errorText) {
                        $.Nuoya.alert(errorText);
                        return false;
                    }
                    //Loading("图片正在上传中...", "请稍等");
                    uploadheadimg.submitUpload();
                    return true;//返回false将取消当前选择的文件
                },
            });
            var uploadheadimg = headimgbtn.data("uploadFileData");
        }

        //新增
        function add() {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                ajaxUrl: "/Areas/Admin/HtmlTemplates/Course/Update.html",
                title: "添加课程",
                width: ($(window).width() - 100) + "px",
                height: ($(window).height() - 100) + "px",
                callback: function (e) {
                    formInit();//表单初始化
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {
                        var pictureAry = new Array();
                        $("#divImageShow img").each(function () {
                            pictureAry.push($(this).attr("src"));
                        });
                        if (pictureAry.length == 0)
                        {
                            $.Nuoya.alert("请上传门店图片");
                            return false;
                        }

                        var pirceAry = new Array();
                        var msg = "";
                        $(".coursePrice .priceItem").each(function (index, item) {
                            var name = $(item).find("[name='ThingName']").val();
                            var price = $(item).find("[name='Price']").val();
                            var disPrice = $(item).find("[name='DiscountPrice']").val();
                            if (name == "")
                            {
                                msg = "请输入价格名称";
                            }
                            if (price == "") {
                                msg = "请输入价格";
                            }
                            if (disPrice == "") {
                                msg = "请输入折扣价格";
                            }
                            pirceAry.push({
                                CourseID:"1",
                                ThingName: name,
                                Price: price,
                                DiscountPrice: disPrice
                            });
                        });
                        if (pirceAry.length == 0) {
                            $.Nuoya.alert("请填写课程价格");
                            return false;
                        }
                        if(msg!="")
                        {
                            $.Nuoya.alert(msg);
                            return false;

                        }

                        var result = $.Nuoya.form("form").valid({
                        }); 
                        if (result) {
                            $.Nuoya.action("/Admin/Course/Add", {
                                    Name: $("#form [name='Name']:eq(0)").val(),
                                    StoreID: $("#form [name='StoreID']").val(),
                                    CourseCategoryIDS: $("#form [name='CourseCategoryIDS']").val(),
                                    CoachID: $("#form [name='CoachID']").val(),
                                    StartTime: $("#form [name='StartTime']").val(),
                                    EndTime: $("#form [name='EndTime']").val(),
                                    PriceList: pirceAry,
                                    FAQ: fAQUE.getContent(),
                                    TrainResult: trainResultUE.getContent(),
                                    FitPeople: fitPeopleUE.getContent(),
                                    Pictures: pictureAry.join(","),
                                }, function (data) {
                                    if (data.Result) {
                                        $.Nuoya.alert("保存成功");
                                        e.hide();
                                        grid.reload();
                                    }
                                    else
                                        $.Nuoya.alert(data.ErrorDesc);
                                })
                        }
                        else {
                            $("#tab1,#tab2").removeClass("am-in").removeClass("am-active");
                            $("#selectTabUl li").removeClass("am-active");
                            if ($("#tab1 .tipso_content").length != 0) {
                                $("#selectTabUl li").eq(0).addClass("am-active");
                                $("#tab1").addClass("am-in").addClass("am-active");
                            }
                            else {
                                $("#selectTabUl li").eq(1).addClass("am-active");
                                $("#tab2").addClass("am-in").addClass("am-active");
                            }
                        }          
                    }
                }]
            })
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Admin/Course/GetPageList",
            //数据请求地址
            
            events: [
                {
                    className: "am-text-secondary",
                    icon: "icon-pencil-square-o",
                    name: "编辑",
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            ajaxUrl: "/Areas/Admin/HtmlTemplates/Course/Update.html",
                            title: "编辑课程",
                            width: ($(window).width() - 100) + "px",
                            height: ($(window).height() - 100) + "px",
                            callback: function (e) {
                                $.Nuoya.action("/Admin/Course/Find", { id: item.ID }, function (model) {
                                    //载入数据
                                    $.Nuoya.form("form").dataLoad({
                                        data: model
                                    });
                                    formInit(model);//表单初始化
                                });
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {

                                    var pictureAry = new Array();
                                    $("#divImageShow img").each(function () {
                                        pictureAry.push($(this).attr("src"));
                                    });
                                    if (pictureAry.length == 0) {
                                        $.Nuoya.alert("请上传门店图片");
                                        return false;
                                    }

                                    var pirceAry = new Array();
                                    var msg = "";
                                    $(".coursePrice .priceItem").each(function (index, item) {
                                        var name = $(item).find("[name='ThingName']").val();
                                        var price = $(item).find("[name='Price']").val();
                                        var disPrice = $(item).find("[name='DiscountPrice']").val();
                                        if (name == "") {
                                            msg = "请输入价格名称";
                                        }
                                        if (price == "") {
                                            msg = "请输入价格";
                                        }
                                        if (disPrice == "") {
                                            msg = "请输入折扣价格";
                                        }
                                        if (name == "" && price == "" && disPrice == "") {
                                            msg = "";
                                        }
                                        else {
                                            pirceAry.push({
                                                ID:$(item).find("[name='ID']").val(),
                                                CourseID: "1",
                                                ThingName: name,
                                                Price: price,
                                                DiscountPrice: disPrice
                                            });
                                        }
                                    });
                                    if (pirceAry.length == 0) {
                                        $.Nuoya.alert("请填写课程价格");
                                        return false;
                                    }
                                    if (msg != "") {
                                        $.Nuoya.alert(msg);
                                        return false;

                                    }

                                    var result = $.Nuoya.form("form").valid({
                                    });
                                    if (result) {
                                        $.Nuoya.action("/Admin/Course/Update", {
                                            ID:item.ID,
                                            Name: $("#form [name='Name']:eq(0)").val(),
                                            StoreID: $("#form [name='StoreID']").val(),
                                            CourseCategoryIDS: $("#form [name='CourseCategoryIDS']").val(),
                                            CoachID: $("#form [name='CoachID']").val(),
                                            StartTime: $("#form [name='StartTime']").val(),
                                            EndTime: $("#form [name='EndTime']").val(),
                                            PriceList: pirceAry,
                                            FAQ: fAQUE.getContent(),
                                            TrainResult: trainResultUE.getContent(),
                                            FitPeople: fitPeopleUE.getContent(),
                                            Pictures: pictureAry.join(","),
                                        }, function (data) {
                                            if (data.Result) {
                                                $.Nuoya.alert("保存成功");
                                                e.hide();
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.ErrorDesc);
                                        })
                                    }
                                    else {
                                        $("#tab1,#tab2").removeClass("am-in").removeClass("am-active");
                                        $("#selectTabUl li").removeClass("am-active");
                                        if ($("#tab1 .tipso_content").length != 0) {
                                            $("#selectTabUl li").eq(0).addClass("am-active");
                                            $("#tab1").addClass("am-in").addClass("am-active");
                                        }
                                        else {
                                            $("#selectTabUl li").eq(1).addClass("am-active");
                                            $("#tab2").addClass("am-in").addClass("am-active");
                                        }
                                    }
                                   
                                }
                            }]
                        })
                    }
                },
                {
                    className: "am-text-danger",
                    icon: "icon-trash-o",
                    name: "删除",
                    click: function (item) {
                        $.Nuoya.confirm("确认删除？", function () {
                            $.Nuoya.deleteAction("/Admin/Course/Delete", {
                                ids: item.ID
                            },
                            function () {
                                grid.reload();
                            });
                        });
                    }
                }
            ]
        });

    </script>
}
